#main
{ 
    height:1500px;
    width:1000px;
   
    margin:0px auto;
}
/*
#head h1
{    margin-top:15px;
    margin-left:20px;
}
h4
{
    margin-left:35px;
    margin-top:-25px;
}    
*/
#head img
{
   margin:15px;
   height:50px;
   width:150px;
}
#menu
{
    float:left;
    height:50px;
    width:700px;
    background-color:Black;
     border-radius:5px;
      left:460px;
     top:30px;
     position:absolute;
}
#menu ul
{
    list-style-type:none;
    margin:0px;
}
#menu ul li
{
    width:100px;
   
    float:left;
    text-align:center;
    
} 
#menu ul li a
{
    text-decoration:none;
     line-height:50px;
     font-weight:bold;
    color:White;
    font-size:20px;
}
#menu ul li a:hover
{
    background-color:gold;
}
#ban
{
    width:960px;
    height:300px;
    margin-left:20px;
    background-image:url("banner1.png");
    border:solid 2px silver;
  }
#text
{
     height:300px;
     width:300px;
      margin:30px;
}
#error
{
    height:150px;
    width:300px;
    border:solid 3px silver;
    text-align:center;
    background-color:Silver;
    left:530px;
    top:150px;
    position:absolute;
}
#link a
{
    margin-left:5px;
    padding:5px;
    font-size:20px;
    background-color:Black;
    color:White;
    text-decoration:none;
    border-radius:5px;
}
#error p
{
    margin:50px;
}
#service
{
    
    height:600px;
    width:600px;
    margin:15px;
 }
 #service p
 {
     margin-top:-15px;
    
 }
 #brdimg
 {
   height:120px;
   width:170px;
   border:solid  1px silver;
      border-radius:5px;
       margin-top:0px;
      float:left;
  }
  #brdimg img
  {
      height:100px;
      width:150px;
      margin:10px;
    
  }
  #bridge p
  {
      height:120px;
      width:400px;
      margin:5px;
      float:left;
  }
  #bridge a
  {
      
      text-decoration:none;
      color:Black;
      font-weight:bold;
  }
 #buildimg
 {
   height:120px;
   width:170px;
  border:solid  1px silver;
   
        border-radius:5px;
       margin-top:0px;
      float:left;
  }
  #buildimg img
  {
      height:100px;
      width:150px;
      margin:10px;
    
  }
  #build p
  {
      height:120px;
      width:400px;
      margin:5px;
      float:left;
  }
  #build a
  {
      
      text-decoration:none;
      color:Black;
      font-weight:bold;
  }
 #seeimg
 {
   height:120px;
   width:170px;
   border:solid  1px silver;
      border-radius:5px;
       margin-top:0px;
      float:left;
  }
  #seeimg img
  {
      height:100px;
      width:150px;
      margin:10px;
    
  }
  #see p
  {
      height:120px;
      width:400px;
      margin:5px;
      float:left;
  }
  #see a
  {
      
      text-decoration:none;
      color:Black;
      font-weight:bold;
  }
 #about
 {
     margin-top:-50px;
     margin-left:15px;
     height:200px;
     width:600px;
 }
 #roadimg
 {
   height:120px;
   width:170px;
  border:solid  1px silver;
      border-radius:5px;
       margin-top:0px;
      float:left;
  }
  #roadimg img
  {
      height:100px;
      width:150px;
      margin:10px;
    
  }
  #road p
  {
      height:120px;
      width:400px;
      margin:5px;
      float:left;
  }
  #road a
  {
      
      text-decoration:none;
      color:Black;
      font-weight:bold;
  }
#test
{
    height:300px;
    width:600px;
    margin:15px;
}
#test ul
{
    list-style-type:circle;
}
#news
{
  height:500px;
   width:300px;
  float:right;
  margin-right:10px;
}
 #ad
 {
   height:320px;
   width:300px;
   border:solid 1px silver;
      border-radius:5px;
       margin-top:0px;
      float:left;
  }
  #ad img
  {
      height:300px;
      width:260px;
      margin:10px;
